.hero-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-top: 70px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
}

.hero-main-container {
  width: 100%;
  overflow: hidden;
}